.venv
dataset
document_content/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
env/
ENV/
.idea/
.vscode/
*.swp
*.swo
*.log
logs/
agent_runs.log
.env
.DS_Store
processed_dataset
chroma_db
bm25_index
dataset_curated
Llama-3.2-3B-Instruct
Llama-3.2-3B-Instruct*
pydantic-ai
trl
training_outputs
sentence_transformers
sft_dataset
sft_rollout
Qwen2.5-3B-Instruct*
Qwen2.5-7B-Instruct*
Qwen2.5-1.5B-Instruct
Qwen2.5-1.5B-Instruct*
dummy_dataset
peft
test.ipynb
vllm-models
unsloth*
std.err
